---
layout: default
---

<h2 id="toc">فهرست محتوا</h2>
<div class="section toc">
  <div class="col">
    <h3><a href="#html">HTML</a></h3>
    <ul>
      <li><a href="#html-syntax">Syntax</a></li>
      <li><a href="#html-doctype">HTML5 doctype</a></li>
      <li><a href="#html-lang">Language attribute</a></li>
      <li>
        <a href="#html-ie-compatibility-mode"
          >Internet Explorer compatibility mode</a
        >
      </li>
      <li><a href="#html-encoding">Character encoding</a></li>
      <li><a href="#html-style-script">CSS and JavaScript includes</a></li>
      <li><a href="#html-practicality">Practicality over purity</a></li>
      <li><a href="#html-attribute-order">Attribute order</a></li>
      <li><a href="#html-boolean-attributes">Boolean attributes</a></li>
      <li><a href="#html-reducing-markup">Reducing markup</a></li>
      <li><a href="#html-javascript">JavaScript generated markup</a></li>
    </ul>
  </div>
  <div class="col">
    <h3><a href="#css">CSS</a></h3>
    <ul>
      <li><a href="#css-syntax">CSS syntax</a></li>
      <li><a href="#css-declaration-order">Declaration order</a></li>
      <li><a href="#css-import">Don't use @import</a></li>
      <li><a href="#css-media-queries">Media query placement</a></li>
      <li><a href="#css-prefixed-properties">Prefixed properties</a></li>
      <li>
        <a href="#css-single-declarations">Rules with single declarations</a>
      </li>
      <li><a href="#css-shorthand">Shorthand notation</a></li>
      <li><a href="#css-nesting">Nesting in Less and Sass</a></li>
      <li><a href="#css-operators">Operators in Less and Sass</a></li>
      <li><a href="#css-comments">Comments</a></li>
      <li><a href="#css-classes">Classes</a></li>
      <li><a href="#css-selectors">Selectors</a></li>
      <li><a href="#css-organization">Organization</a></li>
    </ul>
  </div>
</div>

<h2 id="golden-rule">قانون طلایی</h2>
<div class="section">
  <div class="col">
    <blockquote>
      <p>
        Every line of code should appear to be written by a single person, no
        matter the number of contributors.
      </p>
    </blockquote>
  </div>
  <div class="col">
    <p>
      همیشه از این قوانین یا موارد شخصی خودتان استفاده کنید. هر خطای کوچک یا
      بزرگی بود آن را گزارش دهید. در صورت داشتن هرگونه نظر ، پیشنهاد ، انتقاد یا
      مشارکت یک
      <a
        href="https://github.com/hatamiarash7/Code-Guide/issues/new"
        target="_blank"
        >Issue ثبت کنید</a
      >.
    </p>
  </div>
</div>

<h2 id="html">HTML</h2>
<div class="section" id="html-syntax">
  <div class="col">
    {% highlight html %}{% include html/syntax.html %}{% endhighlight %}
  </div>
  <div class="col">
    <h3>ترکیب</h3>
    <ul>
      <li>از حروف بزرگ برای تگ ها استفاده نکنید ( همچنین برای doctype )</li>
      <li>برای جلو بردن کدها از tab معادل 2 فاصله خالی استفاده کنید</li>
      <li>کدهای زیرمجموعه فقط باید یک بار جلو بروند ( معادل 2 فاصله خالی )</li>
      <li>برای مقادیر تگ های همیشه از ( " ) استفاده کنید نه ( ' )</li>
      <li>
        برای المان های مستقل مانند ( <code>&lt;img&gt;</code> ) از اسلش استفاده
        نکنید — در
        <a
          href="http://dev.w3.org/html5/spec-author-view/syntax.html#syntax-start-tag"
          target="_blank"
          >HTML5</a
        >
        این مورد اختیاری می باشد
      </li>
      <li>
        تگ های اختیاری پایانی را حذف نکنید ( مانند <code>&lt;/li&gt;</code> یا
        <code>&lt;/body&gt;</code>)
      </li>
    </ul>
  </div>
</div>

<div class="section" id="html-doctype">
  <div class="col">
    {% highlight html %}{% include html/doctype.html %}{% endhighlight %}
  </div>
  <div class="col">
    <h3>نوع سند HTML5</h3>
    <p>
      اجرای
      <a
        href="https://developer.mozilla.org/en-US/docs/Web/HTML/Quirks_Mode_and_Standards_Mode"
        target="_blank"
        >حالت استاندارد</a
      >
      و رندر گیری بهتر در هر مرورگی با قراردادن این تگ در ابتدای هر فایل HTML
      انجام خواهد شد.
    </p>
  </div>
</div>

<div class="section" id="html-lang">
  <div class="col">
    {% highlight html %}{% include html/lang.html %}{% endhighlight %}
  </div>
  <div class="col">
    <h3>ویژگی lang</h3>
    <p>
      با استفاده از این ویژگی در تگ <code>&lt;html&gt;</code> به ابزارهای سینتکس
      یا ترجمه کمک می کنید که زبان محتوای وب سایت شما را دریافت کرده و متناسب با
      آن به کاربران خدمات دهند.
    </p>
  </div>
</div>

<div class="section" id="html-ie-compatibility-mode">
  <div class="col">
    {% highlight html %}{% include html/ie-compatibility-mode.html %}{%
    endhighlight %}
  </div>
  <div class="col">
    <h3>سازگاری با Internet Explorer</h3>
    <p>
      مرور گر Internet Explorer یک تگ <code>&lt;meta&gt;</code> دارد که با
      استفاده از آن می توانید مشخص کنید این مرورگر از کدام نسخه برای رندرگیری
      صفحات استفاده نماید. در صورتی که تنظیمات خاصی برای این مورد مد نظر ندارید
      ، می توانید از مقدار <strong>edge</strong> استفاده کنید تا همیشه آخرین
      نسخه اعمال شود.
    </p>
    <p>
      جهت اصلاعات بیشتر ,
      <a
        href="https://stackoverflow.com/questions/6771258/what-does-meta-http-equiv-x-ua-compatible-content-ie-edge-do"
        target="_blank"
        >این صفحه از سایت Stack Overflow</a
      >
      را مطالعه کنید.
    </p>
  </div>
</div>

<div class="section" id="html-encoding">
  <div class="col">
    {% highlight html %}{% include html/encoding.html %}{% endhighlight %}
  </div>
  <div class="col">
    <h3>رمزنگاری کارکتر ها ( رمزگذاری یونیکد )</h3>
    <p>
      با اعلام نوع کدگذاری می توانید به راحتی از ارائه صحیح محتوا به کاربران
      اطمینان پیدا کنید. هنگام انجام این کار ممکن است از استفاده اشخاص برای
      کارکتر های غیرمجاز نیست جلوگیری کنید تا مطمئن شوید داده های ورودی آن ها
      مطابق با وب سایت شما باشد. کدگذاری صفحات معمولا UTF-8 می باشد
    </p>
  </div>
</div>

<div class="section" id="html-style-script">
  <div class="col">
    {% highlight html %}{% include html/style-script.html %}{% endhighlight %}
  </div>
  <div class="col">
    <h3>وارد کردن CSS و JavaScript</h3>
    <p>
      طبق قواعد HTML5 ، نیازی به تعریف ویژگی <code>type</code> برای فایل های
      جاوا اسکریپت یا CSS نیست. مانند <code>text/css</code> و
      <code>text/javascript</code> که این موارد به صورت پیشفرض اعمال شده و صحیح
      هستند.
    </p>
    <h4>لینک قواعد HTML5</h4>
    <ul>
      <li>
        <a
          href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element"
          target="_blank"
          >استفاده از CSS</a
        >
      </li>
      <li>
        <a
          href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element"
          target="_blank"
          >استفاده از اسکریپت</a
        >
      </li>
    </ul>
  </div>
</div>

<div class="section" id="html-practicality">
  <div class="col">
    <h3>صحیح و شفاف</h3>
    <p>
      همیشه برای حفظ استاندارد های HTML تلاش کنید. تا جای ممکن کدهایی با کمترین
      علامت گذاری و مشکل بنویسید
    </p>
  </div>
</div>

<div class="section" id="html-attribute-order">
  <div class="col">
    {% highlight html %}{% include html/attribute-order.html %}{% endhighlight
    %}
  </div>
  <div class="col">
    <h3>ترتیب ویژگی ها</h3>
    <p>ویژگی ها HTML جهت خوانا تر بودن کد باید به ترتیب قرار بگیرند.</p>
    <ul>
      <li><code>class</code></li>
      <li><code>id</code>, <code>name</code></li>
      <li><code>data-*</code></li>
      <li>
        <code>src</code>, <code>for</code>, <code>type</code>,
        <code>href</code>, <code>value</code>
      </li>
      <li><code>title</code>, <code>alt</code></li>
      <li><code>role</code>, <code>aria-*</code></li>
    </ul>
  </div>
</div>

<div class="section" id="html-boolean-attributes">
  <div class="col">
    {% highlight html %}{% include html/boolean-attributes.html %}{%
    endhighlight %}
  </div>
  <div class="col">
    <h3>مقادیر Boolean</h3>
    <p>
      مقادیر صحیح / غلط مانند <code>disabled</code> ، <code>checked</code> یا
      <code>selected</code> نیازی به تعریف به عنوان مقدار یک ویژگی ندارند. زبان
      XHTML به تعریف این ویژگی ها نیاز داشت ولی اکنون در HTML5 می توانید آن ها
      را به صورت مستقل استفاده کنید.
    </p>
    <p>
      برای مثال در گذشته عبارتی مانند <code>disabled=disabled</code> نیاز بود
      ولی اکنون می توانید آن را به این صورت بنویسید : <code>disabled</code>
    </p>
  </div>
</div>

<div class="section" id="html-reducing-markup">
  <div class="col">
    {% highlight html %}{% include html/reducing-markup.html %}{% endhighlight
    %}
  </div>
  <div class="col">
    <h3>کاهش تگ ها</h3>
    <p>
      تا جای ممکن تگ های اضافی در کد خود استفاده نکنید تا در پایان ، کد HTML
      کوتاه ، منظم و خوانا تری داشته باشید. برای مثال کد روبرو را نگاه کنید :
    </p>
  </div>
</div>

<div class="section" id="html-javascript">
  <div class="col">
    <h3>کدهای ایجاد شده توسط اسکریپت</h3>
    <p>
      کدهای HTML که توسط جاوا اسکریپت ایجاد می شوند ، ناخوانا بوده و در آینده
      پیدا کردن و ویرایش آن ها سخت تر خواهد بود. تا جای ممکن از این روش خودداری
      کنید.
    </p>
  </div>
</div>

<h2 id="css">CSS</h2>
<div class="section" id="css-syntax">
  <div class="col">
    {% highlight css %}{% include css/syntax.css %}{% endhighlight %}
  </div>
  <div class="col">
    <h3>ترکیب</h3>
    <ul>
      <li>برای جلو بردن کدها از tab معادل 2 فاصله خالی استفاده کنید</li>
      <li>
        وقتی که استایل ها را به صورت دسته ای اعمال میکنید ، اسامی انتخابگر ها را
        در یک خط بنویسید
      </li>
      <li>
        جهت خوانا بودن بیشتر قبل از براکت شروع کننده ی بلک ، یک فاصله خالی
        بگذارید
      </li>
      <li>براکت پایان دهنده ی بلاک را در یک خط جدید قرار دهید</li>
      <li>
        بعد از هر علامت <code>:</code> برای ویژگی ها ، یک فاصله خالی بگذارید
      </li>
      <li>جهت خطایابی بهتر ، هر تعریف را در یک خط جداگانه قرار دهید</li>
      <li>
        در پایان هر خط تعریف ، یک <code>;</code> علامت بگذارید ، آخرین خط
        اختیاری است ولی جهت خطایابی بهتر آن را بگذارید
      </li>
      <li>
        ویژگی هایی که مقادیر آن ها چندگانه هستند و با علامت <code>,</code> از هم
        جدا می شوند ، پس از علامت یک فاصله خالی بگذارید. مانند (
        <code>box-shadow</code> )
      </li>
      <li>
        درون مقادیر آرایه ای مانند <code>rgb()</code>, <code>rgba()</code>,
        <code>hsl()</code>, <code>hsla</code>, یا <code>()rect</code> از علامت
        <code>,</code> استفاده نکنید. در این صورت مقادیری که مربوط به رنگ هستند
        ، با دیگر مقادیر متمایز خواهند شد.
      </li>
      <li>
        در اول مقادیر عددی از 0 استفاده نکنید ( برای مثال <code>5.</code> به جای
        <code>0.5</code> و <code>5px.-</code> به جای <code>0.5px-</code> )
      </li>
      <li>
        برای مقادیر رنگی HEX از حروف انگلیسی کوچک استفاده کنید ، مانند
        <code>fff</code> به هنگام مشاهده کد ، حروف کوچک راحت تر از یکدیگر تشخیص
        داده می شوند.
      </li>
      <li>
        در صورت ممکن برای مقادیر رنگی HEX از عبارت خلاصه تر استفاده کنید. برای
        مثال <code>fff</code> به جای <code>ffffff</code>
      </li>
      <li>
        به هنگام استفاده از ویژگی های یک تگ HTML در انتخاب گر ها ، مقدار آن را
        در <code>"</code> بگذارید. مانند <code>input[type="text"]</code>. در
        بعضی موارد آن ها
        <a href="http://mathiasbynens.be/notes/unquoted-attribute-values#css"
          >اختیاری</a
        >
        هستند.
      </li>
      <li>
        برای مقادیر 0 از واحد ها استفاده نکنید و صرفا همان 0 خالی را بگذارید
        مانند <code>margin: 0</code> به جای <code>margin: 0px</code>
      </li>
    </ul>
  </div>
</div>

<div class="section" id="css-declaration-order">
  <div class="col">
    {% highlight css %}{% include css/declaration-order.css %}{% endhighlight %}
  </div>
  <div class="col">
    <h3>ترتیب ویژگی ها</h3>
    <p>
      در یک بلاک ، ویژگی هایی که در یک دسته بندی مرتبط وجود دارند باید به ترتیب
      قرار بگیرند :
    </p>
    <ol>
      <li>محل قرارگیری - Positioning</li>
      <li>ابعاد و حالت - Box model</li>
      <li>ویژگی های متنی - Typographic</li>
      <li>ویژگی ها ظاهری - Visual</li>
      <li>متفرقه - Misc</li>
    </ol>
    <p>
      ویژگی های مربوط به محل قرارگیری در ابتدا قرار می گیرند زیرا با توجه به
      ماهیتشان می توانند یک المان را از کادر خارج کرده یا مقادیر ابعاد و حالت را
      از بین ببرند. پس از آن ویژگی های مربوط به ابعاد و حالت المان می آید تا
      مکان نهایی المان و نوع قرارگیری آن را مشخص کند.
    </p>
    <p>
      جهت مشاهده لیست کامل ویژگی ها و ترتیب قرارگیری آن ها به
      <a
        href="https://github.com/twbs/stylelint-config-twbs-bootstrap/blob/master/css/index.js"
        target="_blank"
        >این صفحه</a
      >
      مراجعه کنید.
    </p>
  </div>
</div>

<div class="section" id="css-import">
  <div class="col">
    {% highlight html %}{% include css/import.html %}{% endhighlight %}
  </div>
  <div class="col">
    <h3>از <code>import@</code> استفاده نکنید</h3>
    <p>
      در مقایسه با <code>&lt;link&gt;</code> ، <code>@import</code> بسیار کند تر
      عمل می کند. این مورد باعث می شود درخواست های اضافی ثبت شود و خطایابی را
      بسیار سخت تر می کند. می توانید از راه های جایگزین استفاده کنید :
    </p>
    <ul>
      <li>استفاده از چند <code>&lt;link&gt;</code> جداگانه</li>
      <li>
        کل فایل های CSS را با استفاده از کتابخانه های پیش پردازنده مانند
        <a href="https://sass-lang.com" target="_blank">Sass</a> یا
        <a href="http://lesscss.org" target="_blank">Less</a> کامپایل کرده و به
        یک فایل تبدیل کنید
      </li>
      <li>
        در صورت استفاده از فریموورک هایی مانند Rails یا Jekyll می توانید تمام
        فایل های CSS خود را با یکدیگر الحاق کنید
      </li>
    </ul>
  </div>
</div>

<div class="section" id="css-media-queries">
  <div class="col">
    {% highlight css %}{% include css/media-queries.css %}{% endhighlight %}
  </div>
  <div class="col">
    <h3>انتخاب گر های <code>media@</code></h3>
    <p>
      در صورت استفاده از این انتخاب گر ها ، آن ها در نزدیک ترین مکان به بلاک های
      مربوطه قرار دهید. هیچوقت آن ها را به صورت جداگانه در جای دیگر ( مثلا آخر
      کد ها - مانند خیلی از قالب های آماده که خریداری می کنید ) قرار ندهید. جهت
      سهولت در برنامه نویسی و خطایابی های آینده ، آن ها را کنار بلاک مربوطه
      استفاده کنید.
    </p>
  </div>
</div>

<div class="section" id="css-prefixed-properties">
  <div class="col">
    {% highlight css %}{% include css/prefixed-properties.css %}{% endhighlight
    %}
  </div>
  <div class="col">
    <h3>ویژگی های پیشوند دار</h3>
    <p>
      در صورت استفاده از ویژگی هایی که پیشوند دارند ، آن ها را به ترتیب از خط
      بلند به کوتاه مرتب کنید تا کد ها خوانا تر باشد.
    </p>
  </div>
</div>

<div class="section" id="css-single-declarations">
  <div class="col">
    {% highlight css %}{% include css/single-declarations.css %}{% endhighlight
    %}
  </div>
  <div class="col">
    <h3>تعریف های یک خطی</h3>
    <p>
      در صورتی که بلاک شما <strong>فقط یک ویژگی</strong> دارد , آن ویژگی و براکت
      ها را تنها در یک خط قرار دهید.
    </p>
  </div>
</div>

<div class="section" id="css-shorthand">
  <div class="col">
    {% highlight css %}{% include css/shorthand.css %}{% endhighlight %}
  </div>
  <div class="col">
    <h3>حالت های خلاصه</h3>
    <p>
      برای ویژگی ها یا مقادیر سعی کنید همیشه حالت کامل را در نظر بگیرید یا از
      قرار دادن مقادیر اضافه پرهیز کنید. ویژگی هایی که اشتباهات رایج در آن ها
      پیش می آید مانند :
    </p>
    <ul>
      <li><code>padding</code></li>
      <li><code>margin</code></li>
      <li><code>font</code></li>
      <li><code>background</code></li>
      <li><code>border</code></li>
      <li><code>border-radius</code></li>
    </ul>
    <p>
      برای مثال نیاز نیست هنگام تنظیم ویژگی <code>padding</code> تمام جهات را
      مقدار دهی کنیم. زیرا به صورت پیشفرض 0 هستند.
    </p>
    <p>
      با اینکار کدهای CSS خلاصه تر نوشته و از بازنویسی مقادیر پیشفرض خودداری می
      کنید.
    </p>
  </div>
</div>

<div class="section" id="css-nesting">
  <div class="col">
    {% highlight scss %}{% include css/nesting.scss %}{% endhighlight %}
  </div>
  <div class="col">
    <h3>کدنویسی تو در تو برای Less و Sass</h3>
    <p>
      ار تو در تو کردن بی دلیل کدها خودداری کنید ، این که می توانید چنین کاری
      کنید دلیل کافی برای انجام دادنش نیست.
    </p>
    <p>مطالعه بیشتر :</p>
    <ul>
      <li>
        <a href="http://markdotto.com/2015/07/20/css-nesting/" target="_blank"
          >Nesting in Sass and Less</a
        >
      </li>
    </ul>
  </div>
</div>

<div class="section" id="css-operators">
  <div class="col">
    {% highlight scss %}{% include css/operators.scss %}{% endhighlight %}
  </div>
  <div class="col">
    <h3>عملگر ها در Less و Sass</h3>
    <p>
      جهت خوانایی بهتر ، تمام عملگرهای ریاضی را به همراه عملوند ها در یک پرانتز
      جداگانه با فاصله های خالی قرار دهید.
    </p>
  </div>
</div>

<div class="section" id="css-comments">
  <div class="col">
    {% highlight css %}{% include css/comments.css %}{% endhighlight %}
  </div>
  <div class="col">
    <h3>نظرات درون کد</h3>
    <p>
      کدهای شما ممکن است توسط افراد دیگری نیز خوانده یا خطایابی شوند ( برای مثال
      در پروژه های متن باز یا پروژه های گروهی ). سعی کنید همیشه نظرات مفید و
      کارآمدی در مورد کدهایی که نوشته اید قرار دهید.
    </p>
    <p>
      از خلاصه نویسی های بی مورد پرهیز کرده و در صورت نیاز حتی جملات طولانی و
      کامل برای کد خود قرار دهید.
    </p>
  </div>
</div>

<div class="section" id="css-classes">
  <div class="col">
    {% highlight css %}{% include css/class-names.css %}{% endhighlight %}
  </div>
  <div class="col">
    <h3>نام کلاس ها</h3>
    <ul>
      <li>
        برای نام کلاس ها فقط از حروف کوچک و خط تیره استفاده کنید. خط تیره به
        صورت رایج موارد مرتبط با هم را نشان می هد ، برای مثال نام های :
        <code>btn.</code> و <code>btn-danger.</code>
      </li>
      <li>
        از عبارات مرتبط و معنا دار استفاده کنید. برای مثال نام
        <code>btn.</code> برای <em>button</em> مناسب است ولی نام
        <code>s.</code> هیچ معنا و مفهوم خاصی ندارد.
      </li>
      <li>
        تا جای ممکن نام کلاس ها را کوتاه در نظر بگیرید. از اسامی بلند و بیهوده
        استفاده نکنید.
      </li>
    </ul>
  </div>
</div>

<div class="section" id="css-selectors">
  <div class="col">
    {% highlight css %}{% include css/selectors.css %}{% endhighlight %}
  </div>
  <div class="col">
    <h3>انتخاب گر ها</h3>
    <ul>
      <li>
        جهت رندرگیری بهتر از کلاس ها استفاده کنید و اسامی پیشفرض تگ های HTML را
        در کدهای CSS خود به کار نبرید.
      </li>
      <li>
        هرگز چند انتخابگر مختلف را به صورت متوالی استفاده نکنید ( یا مثلا
        <code>["..."=^class]</code> ) سرعت مرورگر تحت تاثیر این موارد قرار خواهد
        گرفت.
      </li>
    </ul>
    <p>مطالعه بیشتر :</p>
    <ul>
      <li>
        <a
          href="http://markdotto.com/2012/02/16/scope-css-classes-with-prefixes/"
          target="_blank"
          >Scope CSS classes with prefixes</a
        >
      </li>
      <li>
        <a
          href="http://markdotto.com/2012/03/02/stop-the-cascade/"
          target="_blank"
          >Stop the cascade</a
        >
      </li>
    </ul>
  </div>
</div>

<div class="section" id="css-organization">
  <div class="col">
    {% highlight css %}{% include css/organization-comments.css %}{%
    endhighlight %}
  </div>
  <div class="col">
    <h3>سازماندهی</h3>
    <ul>
      <li>
        کدهای مربوط به یک بخش خاص از وب سایت خود را به صورت دسته بندی شده قرار
        دهید.
      </li>
      <li>از یک روند نظرگذاری مرتب پیروی کنید.</li>
      <li>
        بین دسته بندی های خود از فضاهای خالی مناسب استفاده کنید تا در صورت سنگین
        یا طولانی بودن کد های CSS متن خوانا تری داشته باشید.
      </li>
      <li>
        در صورتی که فایل های CSS مختلفی دارید ، آن ها را بر اساس بخش های سایت
        جدا کنید نه بر اساس صفحات. مثلا دسته بندی بر اساس صفحه اصلی ، صفحه
        ارتباط با ما و ... اشتباه است و دسته بندی بر اساس سربرگ ، پانوشت ، عکس
        ها و ... صحیح است.
      </li>
    </ul>
  </div>
</div>

<div class="section" id="css-editor-prefs">
  <div class="col">
    <h3>تنظیمات ویرایشگر</h3>
    <p>
      تنظیمات ویرایشگر خود را به این صورت قرار دهید تا کدهای تمیز و خوانا تری
      داشته باشید :
    </p>
    <ul>
      <li>مقدار هر tab را برابر با 2 کارکتر خالی قرار دهید</li>
      <li>کارکترهای خالی آخر هر خط را حذف کنید</li>
      <li>کدگذاری را روی UTF-8 قرار دهید</li>
      <li>آخر هر فایل یک خط خالی بگذارید</li>
    </ul>
    <p>
      سعی کنید این تنظیمات را در یک فایل <code>editorconfig.</code> اعمال کنید
      تا در هر ویرایشگری قابل استفاده باشد و نیاز به تنظیم مجدد نباشد ( برای
      مثال اگر کدهای شما توسط فرد دیگری با ویرایشگر متفاوت باز شود ، آن فرد نیاز
      به تنظیم ویرایشگر خود ندارد و این فایل همین کار را انجام خواهد داد )
    </p>
    <p>مطالعه بیشتر :</p>
    <ul>
      <li>
        <a href="https://editorconfig.org" target="_blank">EditorConfig</a>
      </li>
      <li>
        <a
          href="https://github.com/twbs/bootstrap/blob/master/.editorconfig"
          target="_blank"
          >توضیحات Bootstrap</a
        >
      </li>
    </ul>
  </div>
</div>
