<footer class="footer">
  <p>
    پروژه متن باز تهیه شده توسط
    <a href="https://markdotto.com" target="_blank">Mark Otto</a> تحت گواهینامه
    MIT &middot; ترجمه شده توسط
    <a href="https://arash-hatami.ir" target="_blank">آرش حاتمی</a> &middot; کپی
    رایت {{ site.time | date: '%Y' }}
  </p>

  <ul class="quick-links">
    <li>
      <iframe
        class="github-btn"
        src="https://ghbtns.com/github-btn.html?user=mdo&repo=code-guide&type=watch&count=true"
        allowtransparency="true"
        frameborder="0"
        scrolling="0"
        width="100px"
        height="20px"
      ></iframe>
    </li>
    <li>
      <iframe
        class="github-btn"
        src="https://ghbtns.com/github-btn.html?user=mdo&repo=code-guide&type=fork&count=true"
        allowtransparency="true"
        frameborder="0"
        scrolling="0"
        width="98px"
        height="20px"
      ></iframe>
    </li>
  </ul>

  <ul class="quick-links">
    <li class="follow-btn">
      <a
        href="https://twitter.com/mdo"
        class="twitter-follow-button"
        data-link-color="#0069D6"
        target="_blank"
        data-show-count="true"
        >Follow @mdo</a
      >
    </li>
    <li class="follow-btn">
      <a
        href="https://twitter.com/mdo"
        class="twitter-follow-button"
        data-link-color="#0069D6"
        data-show-count="true"
        target="_blank"
        >Follow @hatamiarash7</a
      >
    </li>
    <li class="tweet-btn">
      <a
        href="https://twitter.com/share"
        class="twitter-share-button"
        data-url="{{ site.url }}"
        data-count="horizontal"
        data-via="mdo"
        target="_blank"
        >Tweet</a
      >
    </li>
  </ul>
</footer>
